/* Not Needed Here>> body, html {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  background-color: white;
  color: white;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

header, section, article, div {
  box-sizing: border-box;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  } <<Not Needed Here - Inherit */

  /*
   *
   * Main Page Content -- Defines Super Grid
   *
   */

  /* Not Needed Here>> main {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
  } <<Not Needed Here - Inherit */

/*
 *
 * Left Aside Panel -- No Purpose Colored Boxes
 *
 */

aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 8;
  /* margin: 0;     */
  /* padding: 0;    */
  /* height: 100%;  */
}

.colorbox-top {
  height: 6%;
  width: 6%;
  /* border-top-width: 1px;     */
  /* border-right-width: 1px;   */
  /* border-left-width: 1px;    */
  /* border-bottom-width: 1px;  */
  margin-top: 2%;
  margin-right: 15%;
  margin-left: 40%;
  margin-bottom: 1%;
  border-color: black;
}

.colorbox-bottom {
  min-height: 30px;
  /* border-top-width: 1px;    */
  /* border-right-width: 1px;  */
  /* border-left-width: 1px;   */
  /* border-bottom-width: 1px; */
  margin-top: 5%;
  margin-right: 15%;
  margin-left: 44%;
  margin-bottom: 5%;
  border-color: black;
}

/* Not Needed Here>> .colorit_white {
  background-color: white;
} <<Not Needed Here - Inherit */

.colorbox-photo {
  height: 9vmin;
  width: 9vmin;
}

.font-colorbox {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /* font-size: 12px;
  /* font-style: normal;
  /* font-variant: normal;
  /* font-weight: 500;
  /* line-height: 14px;
  /* vertical-align: top;
  /* text-align: left;   */
  transform: none;
  color: #212121;
}

/*
 *
 * Header Format -- Logo & Portfolio Owner @ Top of Web Page
 *
 */

.header-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 19% 27% 27% 27%;
  /* padding: 0;
  /* margin-top: 0;
  /* margin-bottom: 0;
  /* margin-left: 0; */
  margin-right: 55px;
}

/* Not Needed Here>> .header-corner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
} <<Not Needed Here - Inherit */

.header-logo {
  /* vertical-align: top;
  /* max-height: 60px; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* margin-top: 20px; */
  /* margin-bottom: 0; */
  margin-left: 8px;
  /* margin-right: 0; */
  /* border-top-width: 5px;
  /* border-right-width: 0;
  /* border-bottom-width: 0;
  /* border-left-width: 0;
  /* border-color: white;  */
}

.header-powner {
  /* vertical-align: top;
  /* height: 34px;
  /* max-width: 100%;  */
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 20px;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 8px;
  /* border-top-width: 5px;
  /* border-right-width: 0;
  /* border-bottom-width: 0;
  /* border-left-width: 0;
  /* border-color: white;
  /* background-color: white; */
}

.header-pdesc {
  /* height: 24px;
  /* max-width: 100%;  */
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* margin-right: 8px;
  /* background-color: white;   */
}

.header-ruler {
  /* background-color: black;  */
  /* height: 2px;              */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 8px;
  /* border-top-width: 0;
  /* border-right-width: 5px;
  /* border-bottom-width: 0;
  /* border-left-width: 5px;
  /* border-color: white; */
}

.font-powner {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
  font-size: 38px;
  line-height: 38px;
  /* vertical-align: top; */
  text-align: right;
  color: #212121;
}

.font-pdesc {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
	font-size: 24px;
  /* font-style: normal;
	/* font-variant: normal;
	/* font-weight: 500; */
	line-height: 26px;
  /* vertical-align: top; */
  text-align: right;
  color: #212121;
}

/*
 *
 * Photo Grid Array - with portfolio project details
 *
 */

.photo-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 19% 27% 27% 27%;
  /* padding: 0;
  /* margin-top: 0;
  /* margin-bottom: 0;
  /* margin-left: 0; */
  margin-right: 120px;
}

.hero-photo {
  max-width: 100%;
  height: auto;
  margin-left: 5.8px;
}

.one-photo {
  /* width: auto;     */
  /* height: 35vmin;  */
  width: 280px;
  height: auto;
  /* Left Align Images look goofy when
   * really stretched out -- center them instead
   */
  margin-left: 0;
  margin-right: 5.4vmin;
}

.box11 {
  /* padding: 5px; */
  margin: 8px;
  border: 5px;
  border-color: white;
  margin-left: 0;
  margin-right: 5.4vmin;
}

.gHero {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.font-section-title {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
	font-size: 28px;
  /* font-style: normal;
	/* font-variant: normal;
	/* font-weight: 500; */
	line-height: 30px;
  vertical-align: top;
  text-align: left;
  color: #7d97ad;
}

.font-proj-title {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
	font-size: 22px;
  /* font-style: normal;
	/* font-variant: normal;
	/* font-weight: 500; */
	line-height: 24px;
  /* vertical-align: top;        */
  /* text-transform: uppercase;  */
  text-align:left;
  color: #2d3c49;
}

.font-proj-link {
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
	/* font-size: 11px;
	/* font-style: normal;
	/* font-variant:normal;
	/* font-weight: 500;
	/* line-height: 12px;
  /* vertical-align: top;  */
  text-align:left;
  /* color: #2d3c49; */
}
